<html><head><meta charset="UTF-8"><style>html{padding:0;margin:0}body{padding:0;margin:0}p{font-size:11px}</style></head>
<div style="height:100px;background-color:#313341">
        <img src="https://test-adventis.s3.us-east-2.amazonaws.com/navbar-logo.png" style="float:right;margin:10px 10px 0 0"/>
</div>
        <h5>Domingo Joaquin Basic Information</h5>
<p style="font-size:11px;"><strong>Full Name</strong>:Domingo Joaquin</p>
<p style="font-size:11px;"><strong>Undergraduate University</strong>:Michigan State University</p>
<p style="font-size:11px;"><strong>Expected Undergraduate Graduation Date</strong>:</p>
<p style="font-size:11px;"><strong>Edu Email</strong>:dcjoaqu@ilstu.edu</p>
<p style="font-size:11px;"><strong>Personal Email</strong>:</p>
<p style="font-size:11px;"><strong>LinkedIn</strong>:<a href="https://www.linkedin.com/in/daniel-rodriguez-ab3607165/" target="_blannk">Hyperlink</a></p>
<p style="font-size:11px;"><strong>Resume</strong>:<a href="https://local-adventis.s3.amazonaws.com/users/7285/resume.pdf">Hyperlink</a></p>
<p style="font-size:11px;"><strong>FMC Level I Certification Number</strong>:No Certification</p>
<p style="font-size:11px;"><strong>FMC Level I Certification Date</strong>:Apr 10, 2018</p></html>