<html>
                <head>
                <meta charset="UTF-8">
                <style>
                .info-card {
                        padding: 25px;
                        margin-bottom: 20px;
                }

                .title__application {
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #2c627a;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .3px;
    border-bottom: 1px solid #000;
}

                .basic_info {
                        display: flex;
                        flex-wrap: wrap;
                }

                .col-md-6 {
                        width: 50%;font-size:11px;
                }

                html {
                        padding: 0;
                        margin: 0
                }

                body {
                        padding: 0;
                        margin: 0
                }

                p {
                        font-size: 11px
                }
        </style>
                </head>
                <div style="height:100px;background-color:#fff">
                <img src="https://test-adventis.s3.us-east-2.amazonaws.com/logo_email.png"
                                style="float:left;margin:20px 10px 10px 30px" />
                </div>
                <div class="info-card">
        <h3 class="title__application">Basic Information</h3>
        <div class="row basic_info">
                <div class="col-md-6">
                        <strong>Organization</strong>
                        <p class="field-item">Wells Fargo</p>
                </div>
                <div class="col-md-6">
                        <strong>Type of Opportunity</strong>
                        <p class="field-item">Internship Position</p>
                </div>
                <div class="col-md-6">
                        <strong>Organization Contact Name</strong>
                        <p class="field-item">Alexandra Lantero</p>
                </div>
                <div class="col-md-6">
                        <strong>Organization Contact Email</strong>
                        <p class="field-item">alantero@sandiego.edu</p>
                </div>
        </div>
        <h3 class="title__application">Opportunity Information</h3>
                <div class="row basic_info">
                                                        <div class="col-md-6">
                                        <strong>Job Title</strong>
                                        <p class="field-item">Investment Banking Analyst Program</p>
                                </div>
                                <div class="col-md-6">
                                        <strong>Industry</strong>
                                        <p class="field-item">Private Equity </p>
                                </div>
                                <div class="col-md-6">
                                        <strong>Job Description</strong>
                                        <p class="field-item">This nine-week program starts with virtual training, followed by five days of classroom instruction on accounting fundamentals, financial modeling, valuation, and Excel. Through hands-on experience and ongoing education, you’ll develop core investment banking skills to help support our clients’ businesses while launching your career in the industry. You’ll benefit from direct exposure on deals and transactions and interact with clients and teams globally.</p>
                                </div>
                                <div class="col-md-6">
                                        <strong>Firm Overview</strong>
                                        <p class="field-item">This nine-week program starts with virtual training, followed by five days of classroom instruction on accounting fundamentals, financial modeling, valuation, and Excel. Through hands-on experience and ongoing education, you’ll develop core investment banking skills to help support our clients’ businesses while launching your career in the industry. You’ll benefit from direct exposure on deals and transactions and interact with clients and teams globally.</p>
                                </div>

                                                        <div class="col-md-6">
                                        <strong>Location</strong>
                                        <p class="field-item">Melville, NY</p>
                                </div>
                                <div class="col-md-6">
                                        <strong>Application Deadline</strong>
                                        <p class="field-item">
                                                                                                        Nov 25, 2020
                                                                                        </p>
                                </div>

                                                                        <div class="col-md-6">
                                                <strong>Internship Type</strong>
                                                <p class="field-item">
                                                <span>Spring 2021</span>, <span>Fall 2021</span>           </p>
                                        </div>

                                <div class="col-md-6">
                                        <strong>Remote/In-Person</strong>
                                        <p class="field-item">In-Person</p>
                                </div>

                </div>

                <h3 class="title__application">Opportunity Criteria</h3>
                <div class="row basic_info">
                        <div class="col-md-2">
                                <strong>Candidate Type</strong>
                                <p class="field-item">
                                        Junior
                                </p>
                        </div>
                        <div class="col-md-4">
                                <strong>Definition</strong>
                                <p class="field-item">
                                        Graduates between Jul 1, 2021 and Jun 30, 2022
                                </p>
                        </div>

                        <div class="col-md-6">
                                <strong>Certification Requirement</strong>
                                <p class="field-item">FMC Level I Certification</p>
                        </div>
                </div>


</div>
        </html>